/* ------ Container ------ */
.container{
    width: 90%;
    margin: 0 auto;
}

 .default__btn{
  width: 180px;
  height: 45px;
  border-radius: 40px;
  outline: none;
  border: 1px solid #0cb653;
  background-color: transparent;
  color: #ffffff;
  font-size: 18px;
  cursor: pointer;
  transition: .2s linear;
}
.default__btn:hover{
  background-color: #0cb653;
  border: 1px solid #ffffff;
}