.timeline {
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 2%;
}
  .timeline .timeline__title{
    color: #ffffff;
    font-size: 35px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 40px;
    position: relative;
  }
  .timeline .timeline__title span{
    color: #0cb653;
  }
  .timeline .timeline__title::before{
    position: absolute;
    top: 0;
    left: 0;
    content: 'Resume';
    width: 100%;
    height: 100%;
    color: rgba(177, 174, 174, 0.171);
    font-size: 80px;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .timeline__row {
    display: flex;
    flex-direction: row;
    column-gap: 64px;
    flex-wrap: wrap;
  }
  
  .timeline__column {
    flex: 1 1 320px;
  }
.timeline__column .timeline__column-text{
    font-size: 28px;
    margin: 32px 0 26px 55px;
    color: #fff;
}
  .timeline__box{
    border-left: 2px solid #0cb653;
    position: relative;
  }
  .timeline__box .timeline__content{
    padding-left: 27px;
    position: relative;
  }
  .timeline__box .timeline__content::before{
    content: '';
    position: absolute;
    top: 0;
    left: -10.5px;
    width: 20px;
    height: 20px;
    background: #0cb653;
    border-radius: 50%;
  }
  .timeline__box .timeline__content .timeline__item{
    padding: 24px;
    border: 2px solid #0cb653;
    border-radius: 8px;
    margin-bottom: 32px;
  }

  .timeline__content .timeline__item .timeline__item-title{
    color: #fff;
    margin-bottom: 10px;
    font-size: 28px;
    text-decoration: none;
}
.timeline__content .timeline__item .timeline__item-subtitle{
    color: #fff;
    margin-bottom: 10px;
    font-size: 19px;
}
.timeline__content .timeline__item .timeline__item-year{
    color: #0cb653;
    margin-bottom: 10px;
    font-size: 18px;
}
.timeline__content .timeline__item .timeline__item-desc{
    color: #fff;
    margin-bottom: 10px;
    font-size: 16px;
}
@media (max-width: 768px) {

  .timeline .timeline__title::before {
    display: none;
  }
}